<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--se um tiver btn no final, é um botão
    se tiver inpt no final, é um input
    dependendo da tag, pode ter a tag também
    se não tiver nada, é uma div-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>programinha legal</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script defer src="../scripts/main.js"></script>
</head>
<body>
    <header>
        <hr>
        <h1>Compendium de personas - Sala de veludo</h1>
        <div id="search_bar">
            <input type="text" id="search_inpt" placeholder="Nome do persona">
            <button id="search_btn" onclick="search_event()">procurar</button>
        </div>
    </header>

    <div id="register">
        <h2>ficha de persona</h2>
            <input type="text" id="name_inpt" placeholder="nome">
            <input type="text" id="atk_inpt" placeholder="atk">
            <input type="text" id="def_inpt" placeholder="def">
            <input type="text" id="tarotcard_inpt" placeholder="tarô">
            <input type="text" id="ability_inpt" placeholder="habilidade">

        <button id="register_btn" onclick="register_event()">registrar persona</button>
    </div>

    <main>
        <h2>lista de personas</h2>
        <div id="list">
            
        </div>
    </main>
</body>
</html>